package components

import "github.com/kakkky/kakkky.dev/adapter/view"

type ArticleSidebarViewModel struct {
	Outline []*view.OutlineNode
}

templ ArticleSidebar(vm ArticleSidebarViewModel) {
	<aside>
		<div class="sticky top-20 max-h-[calc(100vh-6rem)] space-y-4 overflow-y-auto pr-1">
			<section class="rounded-lg border border-gray-200 bg-gray-50/60 p-4">
				@ArticleOutlineList(vm.Outline)
			</section>
		</div>
	</aside>
}
