package components

templ TagBadge(name string) {
	<span class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-medium border-gray-300 bg-gray-100 text-gray-800">
		#{ name }
	</span>
}
