package partials

import (
	"time"

	"github.com/kakkky/hotwire-go/turbo"

	"github.com/kakkky/kakkky.dev/adapter/view/components"
)

type FeedItemsViewModel struct {
	Items        []components.FeedItemCardViewModel
	NextCursorID string
	NextCursorAt time.Time
}

templ FeedItems(vm FeedItemsViewModel) {
	@turbo.Frame(FeedNextID) {
		<div class="flex flex-col gap-4">
			for _, item := range vm.Items {
				@components.FeedItemCard(item)
			}
			@FeedNextFrame(vm.NextCursorID, vm.NextCursorAt)
		</div>
	}
}
